.slate-cbl-ratingsfield-competenciesgrid .code {
    float: right;
    font-family: $mono-font;
}

.slate-cbl-ratingsfield-competenciestabs .x-panel-body:not(.x-grid-body) {
    background-color: #ddd;
}