.slate-cbl-studentslistselector-picker {
    button {
        font-size: 0.75em;
        float: right;
    }

    .code {
        float: right;
        font-family: $mono-font;
        margin-left: 1em;
    }
}