.emergence
/config.json
/watcher.log
.DS_Store

/sencha-workspace/build/

/sencha-workspace/Slate*/bootstrap.*
/sencha-workspace/Slate*/sass/example/bootstrap.*

/sencha-workspace/*Example/bootstrap.*
/sencha-workspace/*Example/sass/example/bootstrap.*

/sencha-workspace/docs/*/build/
sencha-workspace/SlateDemonstrationsTeacher/sencha-error-20170906-1.log
sencha-workspace/SlateDemonstrationsTeacher/sencha-error-20170906.log
sencha-workspace/SlateDemonstrationsTeacher/sencha-error-20170907-3.log
sencha-workspace/SlateDemonstrationsTeacher/sencha-error-20170907.log
