[submodule "sencha-workspace/ext-6.2.0.981"]
	path = sencha-workspace/ext
	url = https://github.com/JarvusInnovations/extjs.git
	branch = workspace/6.2

[submodule "jarvus-hotfixes"]
	path = sencha-workspace/packages.remote/jarvus-hotfixes
	url = https://github.com/JarvusInnovations/sencha-hotfixes.git
	branch = ext/6/2/0/981

[submodule "slate-theme"]
	path = sencha-workspace/packages.remote/slate-theme
	url = https://github.com/SlateFoundation/slate-theme.git
	branch = ext/6
[submodule "slate-core-data"]
	path = sencha-workspace/packages.remote/slate-core-data
	url = https://github.com/SlateFoundation/slate-core-data.git
	branch = master

[submodule "jarvus-routing"]
	path = sencha-workspace/packages.remote/jarvus-routing
	url = https://github.com/JarvusInnovations/jarvus-routing.git
	branch = ext/6/2/0/981
[submodule "jarvus-ext-glyphs"]
	path = sencha-workspace/packages.remote/jarvus-ext-glyphs
	url = https://github.com/JarvusInnovations/jarvus-ext-glyphs.git
	branch = ext/6/2/0/981
[submodule "jarvus-ext-actionevents"]
	path = sencha-workspace/packages.remote/jarvus-ext-actionevents
	url = https://github.com/JarvusInnovations/jarvus-ext-actionevents.git
	branch = ext/6/2/0/981
[submodule "jarvus-aggregrid"]
	path = sencha-workspace/packages.remote/jarvus-aggregrid
	url = https://github.com/JarvusInnovations/jarvus-aggregrid.git
	branch = master
[submodule "jarvus-apikit"]
	path = sencha-workspace/packages.remote/jarvus-apikit
	url = https://github.com/JarvusInnovations/jarvus-apikit.git
	branch = master
[submodule "emergence-apikit"]
	path = sencha-workspace/packages.remote/emergence-apikit
	url = https://github.com/JarvusInnovations/emergence-apikit.git
	branch = master

[submodule "saki-grid-multisearch"]
	path = sencha-workspace/packages.remote/saki-grid-multisearch-5
	url = git@github.com:JarvusInnovations/saki-grid-multisearch.git
	branch = master
[submodule "jarvus-lazydata"]
	path = sencha-workspace/packages.remote/jarvus-lazydata
	url = https://github.com/JarvusInnovations/jarvus-lazydata.git
	branch = ext/6/2/0/981
[submodule "slate-ui-classic"]
	path = sencha-workspace/packages.remote/slate-ui-classic
	url = https://github.com/SlateFoundation/slate-ui-classic.git
	branch = master
[submodule "cypress/fixtures/database"]
	path = cypress/fixtures/database
	url = https://github.com/SlateFoundation/slate-fixtures.git
	branch = cbl/demo
