.emergence
/config.json
/watcher.log
.DS_Store

/sencha-workspace/build/
/sencha-workspace/ext-*/

/sencha-workspace/Slate*/bootstrap.*
/sencha-workspace/Slate*/sass/example/bootstrap.*

/sencha-workspace/docs/*/build/