// variables to customize the saki gms component

$gms-bgcolor: #e5e5e5;
$gms-border-color: rgba(black, .1);
$gms-container-border-color: #ccc; // $grid-header-border-color;
$gms-filtered-font-color: $base-color;