.skill-grid {
    border-bottom: 2px solid $border-color;
    margin: 0;
    table-layout: fixed;

    th, td {
        padding: 0.5em;
    }

    .skill-grid-demo-detail-data {
        padding: 0;
    }
}

.skill-grid-header-row {

}

.skill-grid-header {
    background: none;
    border-bottom: 2px solid $border-color;
}

.skill-grid-demo-row {
    cursor: pointer;
}

.skill-grid-demo-data {
    background: #eee;
    @include ellipsis;

    tr:nth-child(4n-1) & {
        background: #e0e0e0;
    }
}

.skill-grid-demo-index {
    text-align: right;
    width: 2.75em;
}

.skill-grid-demo-date {
    white-space: nowrap;
    width: 16%;
}

.skill-grid-demo-level {
    text-align: center;
    width: 9%;
}

.skill-grid-demo-experience {

}

.skill-grid-demo-context {

}

.skill-grid-demo-task {

}

.skill-grid-demo-detail-row {

}

.skill-grid-demo-detail-ct {
    border: 1px solid #ccc;
    border-width: 1px 0;
    box-shadow: inset 0 8px 8px -8px rgba(black, .15);
    display: none;
    line-height: $font-size * 1.5;
    overflow: hidden;
    padding: 0.375em 1.6667em;
    text-align: center;

    .skill-grid-demo-detail-row.is-expanded & {
        display: block;
    }
}

.skill-grid-emptytext-row {

}

.skill-grid-emptytext-cell {
    color: #777;
    font-style: italic;
    text-align: center;
}

.skill-grid-demo-meta {
    color: #777;
    font-size: small;
    font-style: italic;

    a {
        color: inherit;
        text-decoration: underline;
    }
}
