.slate-cbl-ratings-studentcompetency {
    .competency-header {
        max-width: 480px;
    }

    h4 {
        margin: .375em 0 .25em;
    }

    .competency-statement {
        border: none;
        color: #666;
        font-style: italic;
        line-height: (4/3);
<<<<<<< HEAD
        margin: 0 0 .5em;
=======
        margin: 0;
>>>>>>> 6e40fea9623ff48eb7b28deb85824ae9457a601b
        padding: 0;
    }
}
