$g: 'cbl-grid';

$grid-border-color: dynamic($text-color);

$label-cell-width: dynamic(180px);
$data-cell-width: dynamic(150px);
$data-cell-padding: dynamic(.5em);


.loading-spinner {
    height: 16px;
    margin-right: 4px;
    vertical-align: -3px;
    width: 16px;
}

.ellipsis {
    @include ellipsis;
}

.#{$g}-ct {
    @include display-box;
    @include box-orient(horizontal);

    // work around bottom border disappearing
    position: relative;

    &::before {
        background-color: $grid-border-color;
        bottom: 0;
        content: ' ';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
    }
}

.#{$g}-scroll-ct {
    border: 1px solid $grid-border-color;
    border-width: 0 1px;
    @include box-flex(1);
    overflow-x: auto;
}

.#{$g} {
    margin: 0;
    table-layout: fixed;
    width: auto;

    &.#{$g}-main {
        width: 100%;

        tr {
            > :first-child { border-left:  none; }
            > :last-child  { border-right: none; }
        }
    }

    td, th {
        background-color: $page-bg-color;
        border: 1px solid $grid-border-color;
        border-bottom: none;
        @include box-sizing(border-box);
        padding: $data-cell-padding;
    }

    th {
        background: transparent; // rgba($grid-border-color, .1);
    }

    > tbody > tr:last-child {
        > td, > th {
            border-bottom: 1px solid $grid-border-color;
        }
    }

    .#{$g}-corner-cell {
        background: none;
        border: none;
    }

    .#{$g}-student-name {
        border-color: rgba($grid-border-color, .2);
        border-top: 0;
        line-height: 1.2;
        padding: 0;
        text-align: center;
    }
}

.#{$g}-student-name {
    > a {
        align-items: flex-end;
        color: $color;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: $data-cell-padding;
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: rgba($base-color, .1);
        }
    }
}

.#{$g}-competencies {
    box-shadow: .5em 0 .5em -.5em;
    position: relative;
    z-index: 1;

    th {
        border-color: rgba($grid-border-color, .2);
        border-left: 0;

        &:hover {
            background-color: white;
        }
    }
}

.#{$g}-competency-col {
    width: $label-cell-width;
}

.#{$g}-progress-col {
    width: $data-cell-width;
}

.#{$g}-progress-row {
    cursor: pointer;
}

.#{$g}-progress-row > .#{$g}-progress-cell {
    overflow: hidden;
    position: relative;
}

.#{$g}-progress-cell {
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 1px black;

    &.is-average-low {
        background-image: repeating-linear-gradient(-45deg,
            transparent, transparent 10px,
            rgba(black, .1) 10px,
            rgba(black, .1) 20px,
            transparent 20px
        );
    }
}

.#{$g}-progress-bar {
    background-color: lighten($grid-border-color, 10);
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    @include transition(width 250ms cubic-bezier(0.075, 0.820, 0.165, 1.000)); // easeOutCirc
    width: 0;
    z-index: 0;

    .is-average-low & {
        opacity: .6;
        box-shadow: inset -1px 0 0 rgba(black, .3);
    }
}

.#{$g}-progress-level {
    font-size: .75em;
    left: -100%;
    line-height: 1;
    margin-top: -($data-cell-padding);
    position: absolute;
    top: 50%;

    .#{$g}-progress-cell:hover &,
    .#{$g}-progress-cell:focus & {
        left: $data-cell-padding;
    }
}

.#{$g}-progress-percent {
    border-radius: 3px;
    padding: .25em;
    position: relative;
}

.#{$g}-progress-average {
    font-size: .75em;
    line-height: 1;
    margin-top: -($data-cell-padding);
    position: absolute;
    right: -100%;
    top: 50%;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;

    .is-average-low &,
    .#{$g}-progress-cell:hover &,
    .#{$g}-progress-cell:focus & {
        right: $data-cell-padding;
    }

    .is-average-low & {
        background: red;
        margin-top: -.8em;
        padding: .3em .4em .4em;
    }
}

.#{$g}-skills-row > .#{$g}-skills-cell {
    border: none;
    overflow: hidden;
    padding: 0;
}

.#{$g}-skills-row.is-loading .#{$g}-skills-ct {
    background-image: url(./slate-cbl/images/spinner.gif);
    background-position: center center;
    background-repeat: no-repeat;
    border-top: 1px solid;
    height: 2.5em !important;

    .#{$g}-competencies & {
        border-left: 1px solid;
    }
}

.#{$g}-skills-ct > .#{$g}-skills-grid {
    margin: 0;
    table-layout: fixed;
}

.#{$g}-skill-col {
    width: $label-cell-width;
}

.#{$g}-demos-col {
    width: $data-cell-width;
}

.#{$g}-skills-ct {
    @include transition(all 250ms);
    @include transition-timing-function(cubic-bezier(0.075, 0.820, 0.165, 1.000)); // easeOutCirc
    height: 0;
}

.#{$g}-demos-cell {
    position: relative;

    .cbl-skill-demos {
        @include box-align(stretch);
        @include display-box;
        left: 0;
        list-style: none;
        height: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .cbl-skill-demo {
        border-right: 1px solid $grid-border-color;
        @include box-align(center);
        @include box-flex(1);
        @include box-pack(center);
        @include box-sizing(border-box);
        @include display-box;
        @include transition(background-color 250ms ease-in);
        cursor: pointer;
        width: 0;

        &:last-child {
            border-right: none;
        }

        &.is-complete {
            background-color: #ccc;
        }
    }

    .cbl-skill-demo-override {
        @for $n from 2 through 10 {
            &[data-span="#{$n}"] {
                @include box-flex($n);
            }
        }
    }

    .cbl-skill-demo-counted {
        font-weight: bold;
        text-align: center;
        text-shadow: 0 1px 1px black;
    }

    .cbl-skill-demo-missed {
        background-color: mix($text-color, $page-bg-color, 17%);
        color: mix($text-color, $page-bg-color, 67%);
        font-weight: normal;
        text-shadow: none;
    }
}

.#{$g}-skill-row > .#{$g}-skill-name {
    @extend .#{$g}-competency-name;
    background: $page-bg-color;
    border-right: none;
    font-size: .875em;
    font-weight: normal;
    padding: .75em .5em .75em 1.5em;
    position: relative;
}
