.slate-modalform {
    overflow: visible;
    padding-right: 1.5em;

    .x-panel-body {
        overflow: visible;
    }

    .x-form-item {
        margin-bottom: 8px;
    }

    .is-editable .is-clickable {
        border-bottom: $slate-editable-displayfield-border-width $slate-editable-displayfield-border-style $slate-editable-displayfield-border-color;
        cursor: pointer;

        &:hover,
        &:focus {
            color: $color;
        }
    }

    .x-form-item {
        position: relative;
    }
}

.slate-field-warning {
    cursor: help;
    line-height: 1;
    padding: .3125em .5em;
    position: absolute;
    right: -2em;
    top: 0;
    visibility: hidden;

    &::before {
        color: $base-color;
        content: '\f071';
        font-family: FontAwesome;
        font-size: 14px;
    }

    .has-warning & {
        visibility: visible;
    }
}

.slate-field-warning-popover {
    background-color: lighten($base-light-color, 5);
    border-radius: .25em;
    box-shadow: 0 0 .5em rgba(black, .3);
    font-size: 90%;
    line-height: $line-height;
    opacity: 0;
    padding: 1em;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    transform: scale(.5);
    transform-origin: right top;
    transition: .2s $easeOutBack;
    width: 20em;
    z-index: 1;

    ul {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .slate-field-warning:hover & {
        opacity: 1;
        transform: none;
    }
}