.slate-warning-window {
    background-color: mix(white, $base-color, 80%);
    border: none;

    .x-window-body {
        background: none;
        border: none;
        font-size: .9em;
        padding: 1.6667em;
    }
}