.slate-gridlegend {
    margin: 1em 0;
    padding: 1em;
}

.slate-gridlegend-title {
    font-size: smaller;
    font-weight: bold;
    margin-bottom: .25em;
}

.slate-gridlegend-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slate-gridlegend-item {
    display: inline-block;
    margin: 0 2em 0 0;
    padding: 0;

    &:last-child { margin-right: 0; }
}

.slate-gridlegend-swatch {
    border: 1px solid;
    border-radius: 2px;
    display: inline-block;
    height: 1.25em;
    margin-right: .25em;
    vertical-align: -.25em;
    width: 1.25em;

    .slate-task-status-unassigned &     { background-color: $slate-task-color-unassigned; }
    .slate-task-status-due &            { background-color: $slate-task-color-due; }
    .slate-task-status-completed &      { background-color: $slate-task-color-completed; }
    .slate-task-status-revision &       { background-color: $slate-task-color-revision; }
    .slate-task-status-late &           { background-color: $slate-task-color-late; }

    .slate-task-status-needsrated & {
        background-image: $slate-task-pattern-needsrated-sm;
    }
}