$g: dynamic('slate-studentsgrid'); // 'shorthand' for selectors

$slate-studentsgrid-border-color:       dynamic(#ccc);

$slate-studentsgrid-cell-bg-color:      dynamic(#fff);
$slate-studentsgrid-cell-padding:       dynamic(.5em);
$slate-studentsgrid-cell-width:         dynamic(70px);

$slate-studentsgrid-rowheader-bg-color: dynamic(#ddd);
$slate-studentsgrid-rowheader-width:    dynamic(280px);

$slate-studentsgrid-colheader-bg-color: dynamic(#f5f5f5);
$slate-studentsgrid-colheader-width:    dynamic(223px);