// TODO remove these google font imports and use local versions
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sanchez:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Sanchez:ital@0;1&display=swap');

body {
  font-family: Lato;
}

%heading {
  font-family: Sanchez;
}

@for $i from 6 through 1 {
  .h#{$i} {
    @extend %heading;
  }
}

/* these were copied from bootstrap */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h6, h6 {
  font-size: 1rem;
}
.h5, h5 {
  font-size: 1.25rem;
}
.h4, h4 {
  font-size: 1.5rem;
}
.h3, h3 {
  font-size: 1.75rem;
}
.h2, h2 {
  font-size: 2rem;
}
.h1, h1 {
  font-size: 2.5rem;
}

/* utility classes */

.text-muted {
  color: #6c757d!important;
}

.v-btn.btn-unstyled {
  background: unset;
  border: unset;
  height: unset;
  min-width: unset;
  padding: unset;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
