@use 'vuetify-overrides';

:root {
  overflow: auto;
}

body {
  font-family: Lato;
}

%heading {
  font-family: Sanchez;
}

@for $i from 6 through 1 {
  .h#{$i} {
    @extend %heading;
  }
}

/* these were copied from bootstrap */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h6, h6 {
  font-size: 1rem;
}
.h5, h5 {
  font-size: 1.25rem;
}
.h4, h4 {
  font-size: 1.5rem;
}
.h3, h3 {
  font-size: 1.75rem;
}
.h2, h2 {
  font-size: 2rem;
}
.h1, h1 {
  font-size: 2.5rem;
}

button {
  margin: 0;
}

/* utility classes */

.text-muted {
  color: #6c757d!important;
}

.v-btn.btn-unstyled {
  background: unset;
  border: unset;
  height: unset;
  min-width: unset;
  padding: unset;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
