.block-loading {
  position: relative;
  pointer-events: none;
  &:before {
    background-color: rgba(128, 128, 128, 0.2);
    content: "";
    display: block;
    inset: 0;
    position: absolute;
    z-index: 99999;
  }
}
