$slate-taskhistory-on-level-color:      dynamic(#84c91c);
$slate-taskhistory-off-level-color:     dynamic(#f6815e);
$slate-taskhistory-incomplete-color:    dynamic(#ccc);

@mixin slate-taskhistory-skill-status($status, $color) {
    &.status-#{$status} {
        color: $color;
    }
}

.slate-taskhistory-table {
    margin: 0;
}

.slate-taskhistory-cell {
    background-color: white;
    border: 1px solid $border-color;
    border-width: 0 1px 1px 0;
    width: percentage(1/3);

    &:last-child {
        border-right: 0;
    }
}

.slate-taskhistory-taskbullet {
    color: #999;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: .25em;
    text-align: center;
    vertical-align: -(1em/16);
    width: 1em;

    &::before {
        content: '\00b7'; // middot;
    }

    .is-expandable & {
        cursor: pointer;

        &:hover {
            color: #666;
        }

        &::before {
            content: '+';
            display: block;
            transition: 250ms cubic-bezier(0.075, 0.820, 0.165, 1.000); // easeOutCirc
            transform: rotate(-360deg);
        }
    }

    .is-expanded &::before {
        content: '\2212'; // minus sign
        transform: none;
    }
}

.slate-taskhistory-tasktitle {
    color: $link-color;
    font-weight: bold;
}

.slate-taskhistory-skills-cell {
    position: relative;

    &:hover .slate-taskhistory-skills-overlay {
        display: flex;
    }
}

@keyframes caption-in {
      0% { opacity: 0; transform: scaleY(.5) translateX(-25%); }
    100% { opacity: 1; transform: none; }
}

.slate-taskhistory-skills-caption {
    animation: caption-in 150ms both $easeOutBack;
}

.slate-taskhistory-skills-overlay {
    align-items: center;
    background-color: rgba(black, .6);
    color: white;
    display: none;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    padding: 1em;
    position: absolute;
    text-align: right;
    text-shadow: 0 1px 1px black;
    top: 0;
    width: 100%;
}

.slate-taskhistory-skillindicator {
    animation: 150ms caption-in both $easeOutBack;
    font-size: 1.5em;

    @include slate-taskhistory-skill-status('on-level',     $slate-taskhistory-on-level-color);
    @include slate-taskhistory-skill-status('off-level',    $slate-taskhistory-off-level-color);
    @include slate-taskhistory-skill-status('incomplete',   $slate-taskhistory-incomplete-color);

    @for $i from 1 through 20 {
        &:nth-child($i) {
            animation-delay: $i * 50ms;
        }
    }
}

.slate-taskhistory-subrow-cell,
.slate-taskhistory-subrow-ct {
    padding: 0;
    width: 100%;
}

.slate-taskhistory-subrow-ct {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateX(-10%);
    transition: 250ms $easeOutCirc;

    .is-expanded + .slate-taskhistory-row & {
        height: 45px; // TODO js-ify this
        opacity: 1;
        transform: none;
    }
}

.slate-taskhistory-subrow-table {
    margin: 0;
}

.slate-taskhistory-subrow {
    .slate-taskhistory-taskbullet {
        margin-left: 1em;
    }
}