.slate-demonstrations-student-competencycard {
    background: none;
    display: inline-block;
    margin: 0 1.5% 3%;
    vertical-align: top;
    width: 47%;

    .explainer {
        font-style: italic;
        margin: 1em 0;

        p {
            margin: 0 0 1em;
        }
    }

    .stats {
        background-color: rgba(mix($base-color, white), .25);
        box-shadow:
            0 -1px 0 rgba(black, .1),
            inset 0 -1px 0 rgba(black, .1);
        line-height: (4/3);
        margin: 0;
        position: relative;
        table-layout: fixed;
        width: 100%;

        td, th {
            text-align: center;
        }

        th {
            background: none;
            border: 0;
            color: $muted-color;
            font-size: .75em;
            font-weight: normal;
            letter-spacing: .05em;
            padding: .75em 0 0;
            text-transform: uppercase;
        }

        td {
            padding: 0 0 .5em;
        }
    }
}