.slate-tasks-student-recentactivity {
    display: inline-block;
    margin: 0 0 3% 1.5%;
    vertical-align: top;
    width: percentage(1/3) - 1.5;

    .table-ct {
        max-height: 12.375em;
        overflow: auto;
    }

    table {
        margin: 0 0 .75em;
    }

    td, th {
        padding: .375em 1em;
    }

    td {
        background-color: rgba(white, .4);
        border-bottom: 1px solid $border-color;
    }

    .col-header {
        background-color: #e5e5e5;
        box-shadow: 0 1px 0 $border-color;
        font-size: .75em;
        letter-spacing: .05em;
        padding: .5em 1.375em .375em;
        position: sticky;
        text-transform: uppercase;
        top: 0;
    }

    .empty-text {
        color: $muted-color;
        font-style: italic;
        padding: 1em;
        text-align: center;
    }

    .scoring-domain-col {
        white-space: normal;
    }

    .level-col {
        text-align: center;
        width: 2.75em;

        .cbl-level-colored {
            border-radius: 3px;
            font-weight: bold;
            text-shadow: 0 1px 1px rgba(black, .8);
        }
    }

    .domain-skill {
        display: block;
        font-size: .9em;
        line-height: 1.3333;
    }

    .meta {
        color: $muted-color;
        font-size: .8em;
        line-height: 1.3333;
        margin-top: .1em;
    }
}