$level-colors: dynamic(
    #666, // 1
    #666, // 2
    #666, // 3
    #666, // 4
    #666, // 5
    #666, // 6
    #666, // 7
    #666, // 8
    #d94181, // 9
    #ffa200, // 10
    #5dc02a, // 11
    #008cc1 // 12
);

$level-colors-light: dynamic(
    #aaa, // 1
    #aaa, // 2
    #aaa, // 3
    #aaa, // 4
    #aaa, // 5
    #aaa, // 6
    #aaa, // 7
    #aaa, // 8
    #ea97ba, // 9
    #ffcc73, // 10
    #a6dc8a, // 11
    #73c0dd // 12
);

$level-colors-medium: dynamic(
    #888, // 1
    #888, // 2
    #888, // 3
    #888, // 4
    #888, // 5
    #888, // 6
    #888, // 7
    #888, // 8
    #e1679a, // 9
    #ffb533, // 10
    #7dcd55, // 11
    #33a3cd // 12
);

$level-colors-dark: dynamic(
    #444, // 1
    #444, // 2
    #444, // 3
    #444, // 4
    #444, // 5
    #444, // 6
    #444, // 7
    #444, // 8
    #ca274f, // 9
    #ff7d00, // 10
    #38a719, // 11
    #005ea8 // 12
);
