@mixin slate-attachmentslist-filetype($type, $image: null) {
    @if $image == null {
        $image: '#{$type}.svg';
    }

    .slate-attachment-#{$type} {
        .slate-attachment-title {
            a::before {
                content: url(get-resource-path('images/attachment-filetypes/#{$image}'));
            }
        }
    }
}

.slate-attachmentslist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slate-attachmentslist-item {
    display: flex;

    button.plain {
        background: none;
        border: none;
        box-shadow: none;
        margin-bottom: 0;
        margin-left: .5em;
        opacity: .6;
        padding: 0;

        &:hover,
        &:focus {
            opacity: .8;
        }

        &:active {
            opacity: 1;
        }
    }

    &:hover {
        background-color: rgba($base-color, .1);
    }
}

.slate-attachment-title {
    flex: 1;

    @include ellipsis;

    a::before {
        content: url(get-resource-path('images/attachment-filetypes/generic.svg'));
        display: inline-block;
        height: 16px;
        margin-right: .375em;
        vertical-align: -.125em;
        width: 16px;
    }
}

@include slate-attachmentslist-filetype('doc');
@include slate-attachmentslist-filetype('folder');
@include slate-attachmentslist-filetype('image');