.jarvus-aggregrid-cell {
    &.attendance-perfect {
        background-color: deepskyblue;
    }

    &.attendance-ok {
        background-color: lawngreen;
    }

    &.attendance-bad {
        background-color: orange;
    }
}