.#{$g}-cell {
    &.slate-task-status-notassigned { background-color: $slate-task-color-notassigned; }
    &.slate-task-status-due         { background-color: $slate-task-color-due; }
    &.slate-task-status-completed   { background-color: $slate-task-color-completed; }
    &.slate-task-status-revision    { background-color: $slate-task-color-revision; }
    &.slate-task-status-late        { background-color: $slate-task-color-late; }

    &.slate-task-status-needsrated {
        background-image: $slate-task-pattern-needsrated;
    }    
}