.cbl-level-slider-field {
    .x-slider-ct-horz {
        background: none;
        cursor: pointer;
        position: relative;

        &:active {
            cursor: ew-resize;
            cursor: col-resize;
        }

        &::before {
            color: #c00;
            content: '\00d7'; // times
            font-size: large;
            font-weight: bold;
            left: 26px;
            position: absolute;
            top: 6px;
        }
    }

    .x-slider-horz {
        padding: 0 16px 0 32px;
    }

    .x-slider-horz,
    .x-slider-horz .x-slider-end {
        @include background(linear-gradient(left, transparent 50%, $cbl-level-13-color 50% ));
    }
    
    .x-slider-inner {
        @include background-image(linear-gradient(left,
                    transparent percentage(1/12),
             $cbl-level-8-color percentage(1/12),
             $cbl-level-8-color percentage(3/12),
             $cbl-level-9-color percentage(3/12),
             $cbl-level-9-color percentage(5/12),
            $cbl-level-10-color percentage(5/12),
            $cbl-level-10-color percentage(7/12),
            $cbl-level-11-color percentage(7/12),
            $cbl-level-11-color percentage(9/12),
            $cbl-level-12-color percentage(9/12),
            $cbl-level-12-color percentage(11/12),
            $cbl-level-13-color percentage(11/12)
        ));

        height: 10px;
        margin: 10px 0;
    }
    
    .x-slider-thumb {
        background: white;
        border: 1px solid transparent;
        border-radius: 100%;
        box-shadow: 0 1px 1px rgba(black, .3);
        cursor: pointer;
        cursor: ew-resize;
        cursor: col-resize;
        margin-top: -9px;
    }

    .thumb-parked:hover {
        border: 1px dashed #666;
        cursor: pointer;
        cursor: context-menu;
    }
    
    .value {
        color: $color;
        display: block;
        font-weight: bold;
        line-height: 25px;
        text-align: center;
        
        > small {
            font-size: 9px;
            letter-spacing: .5px;
            vertical-align: 1px;
        }
    }
}

.special-grade-tip {
    padding: 0;

    .x-tip-body {
        border: none;
        padding: 0;
    }

    .x-menu {
        border: none;
        padding: 0;
    }
}