$base-color:        dynamic(#e0c7a3);
$accent-color:      dynamic(#61748c);
$info-color:        dynamic(#5bc0de);
$success-color:     dynamic(#23ad23);
$alert-color:       dynamic(#f09b24);
$danger-color:      dynamic(#d43734);
$text-color:        dynamic(#333);
$heading-color:     dynamic($text-color);

$page-bg-color:     dynamic(change-color($base-color, $saturation: 40, $lightness: 95));
$link-color:        dynamic(change-color($accent-color, $saturation: 40));

$muted-color:       dynamic(mix($text-color, $page-bg-color));
$shaded-color:      dynamic(mix($text-color, $base-color));
$border-color:      dynamic(mix($text-color, $page-bg-color, 17%));
                    
$body-font:         dynamic('Helvetica Neue', Helvetica, Verdana, Arial, sans-serif);
$heading-font:      dynamic($body-font); // Georgia, Times, "Times New Roman", serif !default;
$mono-font:         dynamic(Consolas, monospace);
                    
$font-size:         dynamic(16px);
$line-height:       dynamic(1.5);

$reading-width:     dynamic(38em);
                    
$mq-phone:          dynamic('screen and (max-width: 568px)');
$mq-tablet:         dynamic('screen and (min-width: 569px)');
$mq-wide:           dynamic('screen and (min-width: 769px)');