$g: 'cbl-grid';

$grid-border-color: $text-color;

$label-cell-width: 180px;
$data-cell-width:  150px;
$data-cell-padding: .5em;

 $level-6-color: #ccc;
 $level-7-color: #999;

 $level-8-color: #666;
 $level-9-color: #d94181;
$level-10-color: #ffa200;
$level-11-color: #5dc02a;
$level-12-color: #008cc1;
$level-13-color: #a0522d;

 $level-8-color-light: #999;
 $level-9-color-light: #ea97ba;
$level-10-color-light: #ffcc73;
$level-11-color-light: #a6dc8a;
$level-12-color-light: #73c0dd;
$level-13-color-light: #da845c;

 $level-8-color-medium: #777;
 $level-9-color-medium: #e1679a;
$level-10-color-medium: #ffb533;
$level-11-color-medium: #7dcd55;
$level-12-color-medium: #33a3cd;
$level-13-color-medium: #b66540;

 $level-8-color-dark: #555;
 $level-9-color-dark: #ca274f;
$level-10-color-dark: #ff7d00;
$level-11-color-dark: #38a719;
$level-12-color-dark: #005ea8;
$level-13-color-dark: #8e4320;

$level-colors:
     $level-8-color,
     $level-9-color,
    $level-10-color,
    $level-11-color,
    $level-12-color,
    $level-13-color;

$level-colors-light:
     $level-8-color-light,
     $level-9-color-light,
    $level-10-color-light,
    $level-11-color-light,
    $level-12-color-light,
    $level-13-color-light;

$level-colors-medium:
     $level-8-color-medium,
     $level-9-color-medium,
    $level-10-color-medium,
    $level-11-color-medium,
    $level-12-color-medium,
    $level-13-color-medium;

$level-colors-dark:
     $level-8-color-dark,
     $level-9-color-dark,
    $level-10-color-dark,
    $level-11-color-dark,
    $level-12-color-dark,
    $level-13-color-dark;